<% layout('./layouts/boilerplate') %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Edit Post</h1>
        <form action="/posts/<%=post._id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" value="<%=post.title%>" required name="post[title]" id="title" placeholder="Enter Title">
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="post">Post</label>
                <textarea class="form-control" required name="post[post]" id="post" cols="30" rows="10"><%=post.post%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="custom-file">
                    <label class="custom-file-label" for="image">Choose image(s)...</label>
                    <input type="file" id="image" name="image" class="custom-file-input form-control" multiple>
                </div>
                <% post.images.forEach((img, i) => { %>
                    <img class="img-thumbnail" src="<%=img.thumbnail%>" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Post</button>
            </div>
        </form>
        <a href="/posts/<%=post._id%>">Back To Post</a>
    </div>
</div>